main.cookie-policy {
  background: $color__navy;
  color: $color__text-white;
  padding-top: 200px;

  header {
    text-align: center;
  }

  #cmplz-document {
    margin: 0 auto;

    h2 {
      color: $color__text-white;
      margin-left: unset;
      margin-top: 50px;
    }
  }

  #cmplz-cookies-overview {
    color: $color__text-main;
  }
}
