#service-top-text {
  padding: 60px 0;
  text-align: center;

  p {
    margin: 0 0 50px 0;
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
  }
}

@media (min-width: $medium-breakpoint) {
  #service-top-text {
    padding: 80px 0;
    p {
      margin: 0 0 50px 0;
      font-size: 16px;
    }
    .btn {
      font-size: 16px;
    }
  }
}

@media (min-width: $large-breakpoint) {
  #service-top-text {
    padding: 100px 0;
    p {
      margin: 0 0 50px 0;
      font-size: 20px;
    }
    .btn {
      font-size: 20px;
    }
  }
}
