#service-grid {
  display: flex;
  flex-direction: column;

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .left,
    .right {
      position: relative;
      background: $color__navy;
      color: $color__text-white;

      h3 {
        color: $color__yellow;
        margin-bottom: 50px;
        font-weight: 600;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
      }

      &:has(h3) {
        padding: 100px 75px;
      }

      p {
        font-size: 18px;
        font-weight: 200;
      }
    }
  }

  .contact-bar {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;

    h2 {
      margin: 0;
      font-weight: 600;
      max-width: 800px;
      margin: 0 auto;
    }

    a {
      color: $color__blue;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
